<a class="header__logo" th:href="@{/}">
    <div class="header__logo__img">
        <img th:src="@{/img/logo.svg}" alt="#">
    </div>
    <div class="header__logo__text">
        <p>CarSmartBuy</p>
    </div>
</a>
<div class="header__user" th:if="${user.name == 'Гость'}">
    <a th:href="@{/user/login}">Войти</a>
</div>
<div class="header__user" th:if="${user.name != 'Гость'}">
    <a th:href="@{/user/account}" th:text="${user.name}">Личный кабинет</a>
    <a th:href="@{/user/logout}">Выйти</a>
</div>